/* wishes.css */

/* Base styles */
.wishesPage {
  position: relative;
  /* background: linear-gradient(#123, #111); */
  background-image: url('../../../public/images/bg1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.img1 {
  width: 300px;
  height: 300px;
  margin-top: 30vh;
  background: url('../../../public/images/heart.png') no-repeat center center/cover;
  transition: transform 2s, opacity 2s;
}

.content.clicked .img1 {
  transform: scale(2);
  opacity: 0;
}

.WishText {
  margin-top: 20px;
  width: 100vw;
  max-width: 800px;
  font-size: 1em;
  color: #fff6a9;
  text-shadow: 0 0 5px #ffa500, 
               0 0 5px #ffa500, 
               0 0 5px #ffa500, 
               0 0 14px #ffa500, 
               0 0 10px #ff0000, 
               0 0 10px #ff8d00, 
               0 0 10px #ff0000;
  font-family: "Sacramento", cursive;
  animation: typing 3s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: orange; }
}

/* Snowflakes animation */
.snowflakes {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1000;
}

.snowflake {
  color: #fff;
  font-size: 10px;
  position: absolute;
  animation: snowflakes-fall 20s linear infinite;
  user-select: none;
}

@keyframes snowflakes-fall {
  from {
    transform: translateY(-10vh) translateX(-10vw) rotate(0deg);
  }
  to {
    transform: translateY(100vh) translateX(10vw) rotate(1440deg);
  }
}
